{% extends 'base.html.twig' %}

{% block title %}Gestion des élèves{% endblock %}

{% block body %}

    <h1>Page de gestion des élèves</h1>

    <div id="eleves">
        {% for niveau in niveaux %}
            <div class="niveau">
                <button class="carlito-bold toggle" id="niveau"><h2>{{ niveau.nom }}</h2></button>
                <div>
                    {% for classe in niveau.classes %}
                        <div class="classe">
                            <button class="carlito-bold toggle" id="classe"><h2>{{ classe.nom }}</h2></button>
                            <div style="display: none;">
                                {% for eleve in classe.eleves %}
                                    <a href="{{ path('app_eleve_show',{{ eleve.id }}) }}"><p class="carlito-regular" id="eleve">{{ eleve.prenom }} {{ eleve.nom }}</p></a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".toggle").forEach(function (toggleElement) {
                toggleElement.addEventListener("click", function () {
                    const content = this.nextElementSibling;
                    if (content) {
                        content.style.display = content.style.display === "none" ? "block" : "none";
                    }
                });
            });
        });
    </script>
{% endblock %}
