{% extends 'base.html.twig' %}

{% block title %}Gestion des élèves{% endblock %}

{% block body %}

    <h1>Page de gestion des élèves</h1>

    <a href="{{ path('app_eleve_search') }}"><h2>Faire une recherche</h2></a>

    <div id="eleves">
        {% for niveau in niveaux %}
            <div class="niveau">
                <h2 class="carlito-bold">{{ niveau.nom }}</h2>
                <div>
                    {% for classe in niveau.classes %}
                        <div class="classe">
                            <h2 class="carlito-bold">{{ classe.nom }}</h2>
                            <div>
                                {% for eleve in classe.eleves %}
                                    <a href="{{ path('app_eleve_show', {id: eleve.id}) }}">
                                        <p class="carlito-regular" id="eleve">{{ eleve.prenom }} <b>{{ eleve.nom }}</b>
                                        </p>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
