{% extends 'base.html.twig' %}

{% block title %}Gestion des classes{% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.niveau) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>

    <table id="classes">
        <tr>
            <th>Classe</th>
            <th>Niveau</th>
            <th>Actions</th>
        </tr>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.nom }}</td>
                <td>{{ classe.niveau.nom }}</td>
                <td>
                    <div class="boutonsGestion">
                        <a href="{{ path('app_classe_delete', {id: classe.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}