{% extends 'base.html.twig' %}

{% block title %}Hello ProfesseurController!{% endblock %}

{% block body %}
    <h1>Ajouter un Professeur</h1>
    {{ form_start(form) }}

    {{ form_label(form.nom) }}
    {{ form_widget(form.nom) }}
    {{ form_errors(form.nom) }}

    {{ form_label(form.prenom) }}
    {{ form_widget(form.prenom) }}
    {{ form_errors(form.prenom) }}

    {{ form_label(form.nomUtilisateur) }}
    {{ form_widget(form.nomUtilisateur) }}
    {{ form_errors(form.nomUtilisateur) }}

    {{ form_label(form.plainPassword) }}
    {{ form_widget(form.plainPassword) }}
    {{ form_errors(form.plainPassword) }}

    {{ form_widget(form.save) }}

    {{ form_end(form) }}

    <table>
        <tr>
            <th>Professeur</th>
            <th>Action</th>
        </tr>
        {% for prof in professeurs %}
            <tr>
                <td>{{ prof.prenom }} <b>{{ prof.nom }}</b></td>
                <td>
                    <div class="boutonsGestion">
                        <a href="{{ path('app_professeur_delete', {id: prof.id}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
