<header>

    <a href="{{ path('app_accueil') }}"><h1 id="titre" class="carlito-bold">EduSchool</h1></a>

    <div id="contenuEntete">
        <nav>
            {% if is_granted('ROLE_PROFESSEUR') %}
                <a href="{{ path('app_eleve') }}">Gestion des élèves</a>
                <a>Gestion des professeurs</a>
                <a>Gestion des notes</a>
            {% elseif is_granted('ROLE_ELEVE') %}
                <a>Consulter vos notes</a>
                <a>Consulter vos professeurs</a>
            {% endif %}
        </nav>

        <div id="userInformation">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
                 viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
            {% if app.user %}
                <a href="{{ path('app_logout') }}"><p class="carlito-regular">{{ app.user.nomUtilisateur }}</p></a>
            {% else %}
                <a href="{{ path('app_login') }}"><p class="carlito-regular">Se connecter</p></a>
            {% endif %}
        </div>
    </div>

</header>